<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Form demo</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form >
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputName1">Full name</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter full name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleEmployeeId1">Employee ID</label>
              <input type="text" class="form-control" id="exampleEmployeeId1" placeholder="Enter employee ID">
            </div>
            <div class="form-group">
              <label for="exampleUserRole1">User role</label>
              <select id="exampleUserRole1" class="form-control">
                <option>Admin</option>
                <option>Employee</option>
                <option>Technical</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Avatar</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile">
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <!-- <div class="input-group-append"> -->
                <!-- <span class="input-group-text">Upload</span> -->
                <!-- </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="exampleNotes1">Employee ID</label>
              <textarea id="exampleNotes1" class="form-control" rows="3" placeholder="Enter notes"></textarea>
            </div>
            <div class="form-check">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="exampleCheck1">
                <label class="custom-control-label" for="exampleCheck1">Active</label>
              </div>
            </div>
          </div>

        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>

